[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
pyramid = "*"
"pyramid-jinja2" = "*"

[dev-packages]
behave = "*"
pyramid-debugtoolbar = "*"
pytest = "*"
waitress = "*"
webtest = "*"

[requires]
python_version = "3.5"
