[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
pyramid = "*"
pyramid-jinja2 = "*"
pyramid-sqlalchemy = "*"
pyramid-wtforms = "*"
pyramid-tm = "*"
pymysql = "*"
alembic = "*"

[dev-packages]
behave = "*"
pyramid-debugtoolbar = "*"
pytest = "*"
pytest-cov = "*"
waitress = "*"
webtest = "*"
pylint = "*"
rope = "*"
"autopep8" = "*"
tp-contest = {path = ".", editable = true}

[requires]
python_version = "3.5"
