<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <title>臺北市政府教育局國中小網路競賽報名系統</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ request.route_url('home') }}">臺北市政府教育局國中小網路競賽報名系統</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item{% block list_competition_nav %}{% endblock list_competition_nav %}">
          {% if request.session['account_type'] in ['admin', 'manager'] %}
          <a class="nav-link" href="{{ request.route_url('list_admin_competition') }}">所有競賽列表</a>
          {% else %}
          <a class="nav-link" href="{{ request.route_url('list_guest_competition') }}">可報名競賽列表</a>
          {% endif %}
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if request.session['account_type'] == 'admin' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ request.session['name'] }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ request.route_url('list_managers') }}">活動管理者管理</a>
            <a class="dropdown-item" href="{{ request.route_url('list_admin_competition') }}">競賽活動管理</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ request.route_url('logout') }}">登出</a>
          </div>
        </li>
        {% elif request.session['account_type'] == 'manager' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ request.session['name'] }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ request.route_url('logout') }}">登出</a>
          </div>
        </li>
        {% elif request.session['account_type'] == 'school' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ request.session['name'] }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ request.route_url('logout') }}">登出</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item{% block login_nav %}{% endblock login_nav %}">
          <a class="nav-link" href="{{ request.route_url('login') }}">登入</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="row mt-3 mb-3">
    <div class="col-sm-10 offset-sm-1">
      {% block content %}{% endblock content%}
    </div>
  </div>
  <footer style="background-color: #f5f5f5; text-align: center; height: 50px; line-height: 50px; vertical-align: middle;">
    <div class="container">
      <span class="text-muted">&copy; 2018 臺北市政府教育局</span>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
</body>

</html>