{% extends "base.jinja2" %}
{% block content %}
<h2 class="mx-auto">{{ competition.name }}</h2>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ request.route_url('list_competition_news', competition_id=competition_id) }}">最新消息</a>
  </li>
  {% if request.session['account_type'] %}
  <li class="nav-item">
    {% if request.session['account_type'] == 'school' %}
      <a class="nav-link active" href="{{ request.route_url('list_signup_per_competition_school', competition_id=competition_id) }}">各校報名列表</a>
    {% else%}
      <a class="nav-link active" href="{{ request.route_url('list_signup_per_competition', competition_id=competition_id) }}">全部報名列表</a>
    {% endif %}
  </li>
  {% endif %}
</ul>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">序號</th>
      {% if request.session['account_type'] and request.session['account_type'] != 'school' %}
        <th scope="col">學校名稱</th>
      {% endif %}
      <th scope="col">學生1名稱</th>
      <th scope="col">學生1班級</th>
      <th scope="col">學生2名稱</th>
      <th scope="col">學生2班級</th>
      <th scope="col">指導老師1</th>
      <th scope="col">指導老師2</th>
      <th scope="col">指導老師3</th>
      <th scope="col">報名時間</th>
      <th scope="col">動作</th>
    </tr>
  </thead>
  <tbody>
    {% for each_signup in signup_list %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        {% if request.session['account_type'] and request.session['account_type'] != 'school' %}
          <td>{{ each_signup.school.name }}</td>
        {% endif %}
        <td>{{ each_signup.student1_name }}</td>
        <td>{{ each_signup.student1_class }}</td>
        <td>{{ each_signup.student2_name or '' }}</td>
        <td>{{ each_signup.student2_class or '' }}</td>
        <td>{{ each_signup.instructor1 }}</td>
        <td>{{ each_signup.instructor2 or '' }}</td>
        <td>{{ each_signup.instructor3 or '' }}</td>
        <td>{{ each_signup.signup_datetime }}</td>
	<td><a href="{{ request.route_url('delete_signup', competition_id=competition_id, signup_id=each_signup.id) }}" class="btn btn-primary">刪除</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% if request.session['account_type'] == 'school' and signup_list|length < signup_limit %}
  <a href="{{ request.route_url('signup_competition', competition_id=competition_id) }}" class="btn btn-primary">報名本校學生</a>
{% endif %}
{% endblock content%}
