{% extends "base.jinja2" %}
{% block list_competition_news_nav %} active{% endblock list_competition_news_nav %}
{% block content %}
<h2 class="mx-auto">{{ competition.name }}</h2>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{{ request.route_url('list_competition_news', competition_id=competition.id) }}">最新消息</a>
  </li>
  <li class="nav-item">
    {% if request.session['account_type'] != 'school'%}
      <a class="nav-link" href="{{ request.route_url('list_signup_per_competition', competition_id=competition.id) }}">報名列表</a>
    {% else %}
    <a class="nav-link" href="{{ request.route_url('list_signup_per_competition_school', competition_id=competition.id) }}">報名列表</a>
    {% endif %}
  </li>
</ul>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">序號</th>
      <th scope="col">標題</th>
      <th scope="col">發佈時間</th>
      <th scope="col">作者</th>
    </tr>
  </thead>
  <tbody>
    {% for each_news in competition.news %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td><a href="/competition/1/news/8">{{ each_news.title }}</a></td>
        <td>{{ each_news.publication_date }}</td>
        <td>{{ each_news.manager.name }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content%}