{% extends "base.jinja2" %}
{% block login_nav %} active{% endblock login_nav%}
{% block content %}
{% if request.session.peek_flash('error') %}
  {% for error in request.session.pop_flash('error') %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endfor %}
{% endif %}
<div class="alert alert-dark" role="alert">
  登入系統
</div>
<form action="" method="post">
  <div class="form-group">
    {{ login_form.account_type.label }}
    {{ login_form.account_type(class='form-control')}}
  </div>
  <div class="form-group">
    {{ login_form.account.label }}
    {{ login_form.account(class='form-control', placeholder='輸入帳號')}}
  </div>
  <div class="form-group">
    {{ login_form.password.label }}
    {{ login_form.password(class='form-control', placeholder='輸入密碼')}}
  </div>
  <button type="submit" class="btn btn-primary">登入</button>
</form>
{% endblock content%}