{% extends "base.jinja2" %}
{% block list_competition_news_nav %} active{% endblock list_competition_news_nav %}
{% block content %}
<h2 class="mx-auto">107 Scratch 競賽</h2>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/competition/1/news">最新消息</a></li>
    <li class="breadcrumb-item active" aria-current="page">新聞標題</li>
  </ol>
</nav>
<div class="card">
  <div class="card-header">
    新聞標題
  </div>
  <div class="card-body">
    <p class="card-text">哈哈哈哈哈</a>
  </div>
  <div class="card-footer text-muted">
    附件下載
  </div>
</div>
{% endblock content%}