{% extends "base.jinja2" %}
{% block list_competition_news_nav %} active{% endblock list_competition_news_nav %}
{% block content %}
<h2 class="mx-auto">{{ competition_news.competition.name }}</h2>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ request.route_url('list_competition_news', competition_id=competition_news.competition.id) }}">最新消息</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ competition_news.title }}</li>
  </ol>
</nav>
<div class="card">
  <div class="card-header">
    標題：{{ competition_news.title }}
  </div>
  <div class="card-body">
    <p class="card-text">內容：{{ competition_news.content }}</a>
  </div>
  <div class="card-footer text-muted">
    附件下載
    <ul>
      {% for each_file in competition_news.files %}
        <li><a href="{{ request.static_url('tp_contest:static/upload_files/{}/{}'.format(competition_news.competition.id, each_file.name)) }}">{{ each_file.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content%}