{% extends "base.jinja2" %}
{% block content %}
<h2 class="mx-auto">新增報名</h2>
<form action="" method="post">
  <div class="form-group">
    {{ competition_signup_form.student_name.label }}
    {{ competition_signup_form.student_name(class='form-control', placeholder='學生名字')}}
  </div>
  <div class="form-group">
    {{ competition_signup_form.student_class.label }}
    {{ competition_signup_form.student_class(class='form-control', placeholder='學生班級')}}
  </div>
  <div class="form-group">
    {{ competition_signup_form.instructor1.label }}
    {{ competition_signup_form.instructor1(class='form-control', placeholder='指導老師1')}}
  </div>
  <div class="form-group">
    {{ competition_signup_form.instructor2.label }}
    {{ competition_signup_form.instructor2(class='form-control', placeholder='指導老師2')}}
  </div>
  <button type="submit" class="btn btn-primary">報名</button>
</form>
{% endblock content%}